<!-- inheritance templates -- login.html -->
{% extends 'base/login.html' %}

  {% block title %}SMSys | Login{% endblock %}

  {% block content_body %}
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
      <a href="javascript:void(0)" class="h1"><b>SMS</b>ys</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="{% url 'doLogin' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" name="username" class="form-control" placeholder="Username" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="text-bold">
              {% if messages %}
                {% for msg in messages %}
                  {% if msg.tags == 'error' %}
                    <span class="text-danger">{{ msg }}</span>
                  {% else %}
                    <span class="text-success">{{ msg }}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      
      <p class="mb-1">
        <a href="{% url 'forgot-password' %}">I forgot my password</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
</body>
{% endblock %}

