<!-- render static file in this html file -->
{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'index_staff' %}" class="brand-link">
    <img src="{% static 'images/SMSys_logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">SMSys</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        <img src="{{ staff.profile_pic }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
        <a href="{% url 'profileStaff' %}" class="d-block ">{{ user.username }}</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-item">
            {% url 'index_staff' as index_staff %}
            <a href="{{ index_staff }}" class="nav-link {% if request.path == index_staff %} active {% endif %}">
            <i class=" nav-icon fa-solid fa-house"></i>
            <p>
                Home
            </p>
            </a>
        </li>
        
        <li class="nav-header">ACTIONS</li>
        {% url 'applyLeaveStaff' as applyLeaveStaff %}
        {% url 'leaveAppliedHistory' as leaveAppliedHistory %}
        {% url 'feedbackStaff' as feedbackStaff %}
        {% url 'feedbackHistoryStaffs' as feedbackHistoryStaffs %}
        {% url 'takeAttendanceStaff' as takeAttendanceStaff %}
        {% url 'attendanceRecordStaff' as attendanceRecordStaff %}
        <li 
            class="nav-item 
            {% if request.path == takeAttendanceStaff %} 
                menu-open
            {% elif request.path == attendanceRecordStaff %} 
                menu-open
            {% endif %}"
        >
            <a href="#" 
                class="nav-link 
                {% if request.path == takeAttendanceStaff %} 
                    active
                {% elif request.path == attendanceRecordStaff %} 
                    active
                {% endif %}"
            >
            <i class="nav-icon fa-solid fa-id-badge"></i>
            <p>
                Attendance
                <i class="fas fa-angle-left right"></i>
            </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    {% url 'takeAttendanceStaff' as takeAttendanceStaff %}
                    {% url 'attendanceRecordStaff' as attendanceRecordStaff %}
                    <a href="{{ takeAttendanceStaff }}" class="nav-link {% if request.path == takeAttendanceStaff %} active {% endif %}"
                    >
                    <i class="nav-icon fa-solid fa-square-check"></i>
                    <p>Take Attendance</p>
                    </a>
                    <a href="{{ attendanceRecordStaff }}" class="nav-link {% if request.path == attendanceRecordStaff %} active {% endif %}"
                    >
                    <i class="nav-icon fa-solid fa-image-portrait"></i>
                    <p>Attendance Record</p>
                    </a>
                </li>
            </ul>
        </li>
        <li 
            class="nav-item 
            {% if request.path == applyLeaveStaff %} 
                menu-open 
            {% elif request.path == leaveAppliedHistory %} 
                menu-open
            {% endif %}"
        >
            <a href="#" 
                class="nav-link 
                {% if request.path == applyLeaveStaff %} 
                    active
                {% elif request.path == leaveAppliedHistory %} 
                    active
                {% endif %}"
            >
            <i class="nav-icon fa-solid fa-calendar"></i>
            <p>
                Leave
                <i class="fas fa-angle-left right"></i>
            </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    {% url 'applyLeaveStaff' as applyLeaveStaff %}
                    <a href="{{ applyLeaveStaff }}" class="nav-link {% if request.path == applyLeaveStaff %} active {% endif %}"
                    >
                    <i class="nav-icon fa-solid fa-calendar-day"></i>
                    <p>Apply Leave</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'leaveAppliedHistory' as leaveAppliedHistory %}
                    <a href="{{ leaveAppliedHistory }}" class="nav-link {% if request.path == leaveAppliedHistory %} active {% endif %}">
                    <i class="nav-icon fa-solid fa-calendar-week"></i>
                    <p>Leave Applied History</p>
                    </a>
                </li>
            </ul>
        </li>
        <li 
            class="nav-item 
            {% if request.path == feedbackStaff %} 
                menu-open 
            {% elif request.path == feedbackHistoryStaffs %} 
                menu-open
            {% endif %}"
        >
            <a href="#" 
                class="nav-link 
                {% if request.path == feedbackStaff %} 
                    active
                {% elif request.path == feedbackHistoryStaffs %} 
                    active
                {% endif %}"
            >
            <i class="nav-icon fa-solid fa-comment"></i>
            <p>
                Feedback
                <i class="fas fa-angle-left right"></i>
            </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    {% url 'feedbackStaff' as feedbackStaff %}
                    <a href="{{ feedbackStaff }}" class="nav-link {% if request.path == feedbackStaff %} active {% endif %}"
                    >
                    <i class="nav-icon fa-solid fa-paper-plane"></i>
                    <p>Send Feedback</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'feedbackHistoryStaffs' as feedbackHistoryStaffs %}
                    <a href="{{ feedbackHistoryStaffs }}" class="nav-link {% if request.path == feedbackHistoryStaffs %} active {% endif %}">
                    <i class="nav-icon fa-solid fa-comments"></i>
                    <p>Feedback History</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            {% url 'todoList' as todoList %}
            {% url 'todoListEdit' task_id=task.id as todoListEdit %}
            <a href="{{ todoList }}" class="nav-link 
                {% if request.path == todoList or request.path == todoListEdit %} 
                    active 
                {% endif %}"
            >
                <i class="nav-icon fa-solid fa-list-check"></i>
            <p>Todo </p>
            </a>
        </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>