<!-- inheritance templates -- base.html -->
{% extends 'base/base.html' %}
<!-- render static file in this html file -->
{% load static %}

    {% block title %}SMSys | Admin{% endblock %}

    {% block content_title %}Dashboard{% endblock %}

    {% block content_body %}
        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                
                <div class="col-lg-3 col-6 ">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ staffCount }}</h3>

                            <p class="text-uppercase">Staff</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-user-tie"></i>
                        </div>
                        <a href="{% url 'staffProfile' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ feedbackCount }}</h3>

                            <p class="text-uppercase">Feedback</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-comments"></i>
                        </div>
                        <a href="{% url 'feedbackMessage' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ attendanceRate }}<sup style="font-size: 20px;">%</sup></h3>

                            <p class="text-uppercase">Attendance Rate</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-calendar-check"></i>
                        </div>
                        <a href="{% url 'attendanceRecord' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ staffLeave }}</h3>

                            <p class="text-uppercase">Staff Leave</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-calendar-xmark"></i>
                        </div>
                        <a href="{% url 'viewStaffLeave' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    {% endblock %}
