<!-- inheritance templates -- base.html -->
{% extends 'base/base.html' %}
<!-- render static file in this html file -->
{% load static %}

    {% block title %}List Staff{% endblock %}
    {% block site_css %}
        <!-- DataTables -->
        <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    {% endblock %}

    {% block content_title %}List Staff{% endblock %}

    {% block content_body %}
        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Staff Details</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Profile Images</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Tel No.</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Last Login</th>
                            <th>Date Joined</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for staff in staffs %}
                        <tr id="{{ staff.admin.id }}">
                            <td>{{ staff.admin.id }} <br>
                              {% csrf_token %}
                              <input id="checked" type="checkbox" name="staffID[]" value="{{ staff.admin.id }}" style="cursor: pointer;">
                            </td>
                            <td>
                                <img src="{{ staff.profile_pic }}" 
                                    title="{{ staff.admin.username }}" 
                                    alt="{{ staff.admin.username }}"
                                    class="rounded-lg"
                                    style="width: 100px;"
                                >
                            </td>
                            <td>{{ staff.admin.username }}</td>
                            <td>{{ staff.admin.email }}</td>
                            <td>{{ staff.telno }}</td>
                            <td>{{ staff.address }}</td>
                            <td>{{ staff.gender }}</td>
                            <td>{{ staff.admin.last_login }}</td>
                            <td>{{ staff.admin.date_joined }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="{% url 'edit_staff' staff.admin.id %}" class="btn-sm btn-primary">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Edit
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="col-12">
                                        <a id="deleteStaffBtn" href="{% url 'doDeleteStaff' staff_id=staff.admin.id %}" class="btn-sm btn-danger">
                                            <i class="fa-solid fa-trash-can"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Profile Images</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Tel No.</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Last Login</th>
                            <th>Date Joined</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                  </table>
                  <button type="submit" id="deleteBtnByCheck" class="mt-2 float-right btn-sm btn-danger" title="Delete which staff is selected.">
                    <i class="fa-solid fa-trash-can"></i>  
                    Delete Selected
                  </button>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    {% endblock %}

    {% block site_js %}
        <!-- DataTables  & Plugins -->
        <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
        <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
        <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

        <script>
            $(function () {
              $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
              }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
              $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
              });
            });
          </script>
          <script type="text/javascript">
            //Function will trigger when page is ready
            $(document).ready(function(){
              $(document).on('click', '#deleteStaffBtn', function(){
                //Get the current username from current row when delete button clicked
                let username = $(this).parents("tr").children("td:eq(2)").text()
                return confirm("Are you sure to delete current staff, " + username +"?")
              })

              //Get the deleteBtnByCheck button and binding an onclick event
              $('#deleteBtnByCheck').click(function(){
                  if(confirm("Are you sure to delete the selected staffs?")){
                      //Get an empty id array and csrf_token
                      let id = []
                      let csrf_token = $('input[name=csrfmiddlewaretoken]').val()

                      //Push the id in id array if checkbox was checked
                      $(':checkbox:checked').each(function(staffID){
                          id[staffID] = $(this).val()
                      })
                      //Check whether checkbox was checked or not
                      if(id.length === 0){
                          //Not checked at all
                          alert("Please select which staff you want to delete.")
                      }
                      else{
                          //Checked
                           console.log(id) //Testing to get task id

                          //Using ajax to request for delete the tasks
                          $.ajax({
                              url : '{% url 'doDeleteStaffByChecked' %}',
                              method : "POST",
                              data : {
                                  id,
                                  csrfmiddlewaretoken : csrf_token,
                              },
                              //Delete success
                              success : function(response){
                                  for(let i = 0; i < id.length; i++){
                                      $('tr#' + id[i] + '').css('background-color', '#ccc')
                                      $('tr#' + id[i] + '').fadeOut('slow')
                                  }
                              }
                          })
                      }
                  }
              })
            })
          </script>
    {% endblock %}