{% autoescape off %}
                Staff Management System -- SMSys
------------------------------------------------------------------

                        Hey {{ user.get_username }},
    This email is to confirm that you requested a password reset.
    To complete the password reset process, click the link below.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        *NOTE: IF LINK NOT WORKING COPY AND PASTE INTO URL
------------------------------------------------------------------
        If any questions, please do not hesitate to contact us.


Hope you enjoy our services,
The SMSys Team
Email: support_cs@smsys.com
Phone: +60 123 456789
{% endautoescape %}