<!-- inheritance templates -- login.html -->
{% extends 'base/login.html' %}

    {% block title %}SMSys | Forgot Password{% endblock %}

    {% block content_body %}
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="javascript:void(0)" class="h1"><b>SMS</b>ys</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">
                        We've emailed you instruction to reset your password, please kindly to check your email. Thank you.
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->
    {% endblock %}