<!-- inheritance templates -- login.html -->
{% extends 'base/login.html' %}

    {% block title %}SMSys | Reset Password{% endblock %}

    {% block content_body %}
    {% if validlink %}
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="javascript:void(0)" class="h1"><b>SMS</b>ys</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">You can now enter your new password to reset your old password.</p>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }}
                            <div class="input-group mb-3">
                                <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                      <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            {{ field.help_text }}
                            <span class="text-danger">{{ field.errors }}</span>
                        {% endfor %}
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                            </div>
                        <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->
    {% else %}
        <body class="hold-transition login-page">
            <div class="login-box">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <a href="javascript:void(0)" class="h1"><b>SMS</b>ys</a>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">
                            The reset password's link was expired...
                        </p>
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
            <!-- /.login-box -->
    {% endif %}
{% endblock %}

